POSTGRES_USER=routepulse
POSTGRES_PASSWORD=routepulse123
POSTGRES_DB=routepulse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DUCKDB_PATH=/data/routepulse.duckdb
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://routepulse:routepulse123@postgres/routepulse
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0nfdstg=
AIRFLOW__WEBSERVER__SECRET_KEY=routepulse_secret
